html> <head> <title>John Smith - Resume</title> </head> <body> <h1>John Smith</h1> <p>johnsmith@email.com</p>

    <h2>TECHNICAL SKILLS</h2>
    <p>
        Languages: Python, Java, C++, JavaScript<br>
        Software Tools: Git, Eclipse, Visual Studio<br>  
        Databases: MySQL, MongoDB<br>
        Operating Systems: Windows, Linux<br>
        Other: Agile, Scrum
    </p>
    
    <h2>PROFESSIONAL EXPERIENCE</h2>
    <h3>ABC Tech Company</h3>
    <p>
        <em>Software Engineer</em><br>
        New York, NY<br>
        June 2020 - Present
    </p>
    <ul>
        <li>Developed web applications using Java and Angular</li>
        <li>Collaborated with cross-functional teams to gather requirements and deliver features</li>
        <li>Wrote unit tests and conducted code reviews to ensure code quality</li>
    </ul>
    
    <h3>XYZ Startup</h3> 
    <p>
        <em>Software Engineering Intern</em><br>
        Boston, MA<br>
        May 2019 - Aug 2019  
    </p>
    <ul>
        <li>Implemented new features for the company's flagship Android app using Kotlin</li>
        <li>Worked on database optimizations to improve app performance</li>
    </ul>
    
    <h2>PROJECTS</h2>
    <h3>BookWorm</h3>
    <p><em>Full Stack Developer</em></p>
    <ul>
        <li>Developed a book review web app using the MERN stack (MongoDB, Express, React, Node)</li> 
        <li>Implemented user authentication and authorization</li>
        <li>Deployed the app on AWS</li>
    </ul>
    
    <h2>EDUCATION</h2>
    <p>
        BS in Computer Science<br>
        University of California, Los Angeles<br>
        2016 - 2020
    </p>
    </body> </html>